.header(style='background-image: url(img/header_bg.jpg)')
	.bg
	.wrapper
		.country Bali, Indonesia
		h1 Endless summer<br>is surfing on Bali
		.text Explore the dramatic coastline and capture<br> your surf experience