.top-menu
	.top-menu__container
		.top-menu__item.top-menu__item_left.top-menu__item_hidemobile
			ul.top-menu__list
				li.top-menu__list__item
					a(href="#" class="top-menu__link top-menu__link_first") About 
				li.top-menu__list__item
					a(href="#" class="top-menu__link top-menu__link_last") Stories 
		.top-menu__item.top-menu__item_center
			.top-menu__logo
				.top-menu__logo__container
					a(href="#")
						img(src="img/logo.svg", alt="logo").top-menu__logo__img
		.top-menu__item.top-menu__item_right.top-menu__item_hidemobile
			ul.top-menu__list
				li.top-menu__list__item
					a(href="#" class="top-menu__link top-menu__link_first") Log in
				li.top-menu__list__item
					a(href="#" class="top-menu__link top-menu__link_last") Sign in
				li.top-menu__list__item
					a(href="#" class="top-menu__link top-menu__link_button") Become a photographer
		.top-menu__item.top-menu__item_right.top-menu__item_showmobile
			.mobile-button
				span
.mobile-menu
	.mobile-menu__topline
		.mobile-menu__topline__right
			.mobile-button.mobile-button_dark
				span
	.mobile-menu__container
		ul.mobile-menu__list
			li.mobile-menu__list__item
				a(href="#" class="mobile-menu__link") my profile
			li.mobile-menu__list__item
				a(href="#" class="mobile-menu__link") orders
			li.mobile-menu__list__item
				a(href="#" class="mobile-menu__link") chats
			li.mobile-menu__list__item
				a(href="#" class="mobile-menu__link") about
			li.mobile-menu__list__item
				a(href="#" class="mobile-menu__link mobile-menu__link_last") stories
			li.mobile-menu__list__item
				a(href="#" class="mobile-menu__link mobile-menu__link_button") Become a photographer