.top_footer
	.footer_logo_wrapper
		a(href="#").footer_logo
			img(src="img/logo.svg", alt="logo")
		.footer_info_wrap
			.footer_mail Info@cheeese.io 
			.footer_phone +7 896 678 89 76
	.footer_mnu_wrapper
		.footer_mnu_item
			h6.footer_title Company
			ul
				li
					a(href="#") About Us
				li
					a(href="#") Terms & Conditions
		.footer_mnu_item
			h6.footer_title Support
			ul
				li
					a(href="#") FAQ
				li
					a(href="#") Contact Us
		.footer_mnu_item
			h6.footer_title Support
			ul
				li
					a(href="#") FAQ
				li
					a(href="#") Contact Us
	.footer_social_wrap
		h6.footer_title Follow us	
		.footer_social_items
			a(href="#")
				i.fa.fa-facebook
			a(href="#")
				i.fa.fa-instagram
			a(href="#")
				i.fa.fa-rss
.bottom_footer
	.footer_copy_wrapper
		span.copy © 
		span.year 2016 
		span.company Cheeese. 
		span.footer_text All rights reserved.

