-var styles = ['https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css','https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css','https://cdn.jsdelivr.net/jquery.formstyler/1.7.7/jquery.formstyler.css','css/styles.min.css']
each style in styles
	link(rel="stylesheet", href=style)